/* Yi-Chia Chen */
* {
    box-sizing: border-box;
}
body{
    color: #ddd;
    background: #444;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', Sans-serif;
    font-size: 22px;
    line-height: 30px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.pageBox{
    display: none;
    position: relative;
    margin: 50px auto auto auto;
    width: 1000px;
}

.fixedbox {
    display: none;
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    max-height: 100%;
    transform: translate(-50%, -50%);
}

#instr_box::-webkit-scrollbar { /* WebKit */
  width: 0px;
}
.consent_instr {
    color: #bbb;
    font-size: 20px;
    line-height: 60px;
}
#consent_box {
    margin: 40px 0;
    width: 100%;
}
#consent_textbox {
    margin: 0 auto;
    padding: 20px;
    width: 95%;
    height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
    font-size: 16px;
    line-height: 25px;
    background: #354545;
    border-style: dotted;
    border-color: #ddd;
}

textarea {
    font-size: 18px;
    font-family:Arial, Helvetica, sans-serif;
    padding: 6px;
}

#instr_img {
    display: none;
    position: relative;
    margin: 0 auto;
    padding: 30px;
}
.warning {
    color: #ffc8c8;
}
#debriefingBox{
	margin: 20px auto 50px auto;
}
.button {
    display: block;
    position: relative;
    margin: 25px auto auto auto;
    width: 250px;
    height: 35px;
    font-size: 18px;
    line-height: 35px;
    text-align: center;
    border-radius: 8px;
    background: #252525;
    color: #dddddd;
    cursor: pointer;
}
.button:hover {
    background: #333;
}
.button:active {
    background: #111;
}

/* Trial */
#dist_ind_1 {
    font-size: 18px;
}

#dist_ind_2 {
    font-size: 18px;
}

#trialBox {
	margin: 20px auto 0 auto;
    overflow-x: none;
}
.progressBar {
    position: relative;
    margin: 10px 0;
    width: 100%;
    height: 30px;
    text-align: center;
}
.testImgPlaceHolder {
    margin: 20px auto;
    width: 450px;
    height: 300px;
}
#testImg {
    display: none;
    width: 450px;
    height: 300px;
}
.buffer {
	display: none;
}
.ratingContainer {
    padding: 30px;
    width: 100%;
    height: 114px;
}
.ratingButton{
	position: absolute;
	width: 80px;
    height: 54px;
	color: black;
	border: 3px solid white;
	text-align: center;
    font-weight: bold;
    font-size: 16px;
	line-height: 16px;
	cursor: pointer;
}
.ratingButton:hover{
	border-color: #033b1b;
}
.ratingButton:active{
	background: white;
}
.r1{
	left: 180px;
	background: #b9e4c0;
}
.r2{
	left: 300px;
	background: #97ee8f;
}
.r3{
	left: 420px;
	background: #5ed65e;
}
.r4{
	left: 540px;
	background: #30ce45;
}
.r5{
	left: 660px;
	background: #0fa530;
}
.r6{
	left: 780px;
	background: #0f8031;
}
.ratingLabels {
    padding: 0 0;
}

.rating_left {
    left: 0 px;
    font-weight: bold;
    position: absolute;
    width: 110px;
    height: 54px;
    text-align: center;
    font-size: 16px;
    line-height: 20px;
}

.rating_right {
    left: 900px;
    font-weight: bold;
    position: absolute;
    width: 110px;
    height: 54px;
    text-align: center;
    font-size: 16px;
    line-height: 20px;
}

br {
    display: block;
    content: ""; 
    margin-top: 20px;
}

.requirement {
    color: red;
    font-size: 18px;
}

/* Questions */
.boldText {
    font-weight: bold;
}
.smallDimText {
    color: #bbb;
    font-size: 16px;
    line-height: 16px;
}

.selection {
    position: relative;
    margin: 20px 0;
    padding: 10px;
    width: 110%;
    background: rgb(136, 131, 131);
    border-radius: 10px;
    cursor: pointer;
}

.selection:hover {
    background: rgb(41,41,41);
}

.selection_text {
    display: inline;
    position: relative;
    left: 15px;
    width: calc(100% - 20px);
}

.radio {
    cursor: pointer;
}

input[type="text"],
textarea {
    background-color: #f5f5f5;
}
#qProblems {
    position: relative;
    margin: 10px 0;
    width: 100%;
}

.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown_content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown_content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown_content a:hover {background-color: #ddd;}
  
.dropdown:hover .dropdown-content {display: block;}
  
.dropdown:hover .dropbtn {background-color: #3e8e41;}